@import 'static/styles/theme';

.main {
  &-default {
    @include padding-main(xs);
    margin-top: 120px;
  }

  &-small {
    @include padding-main(sm);
    margin-top: 120px;
  }

  &-medium {
    @include padding-main(md);
    margin-top: 120px;
  }

  &-large {
    @include padding-main(lg);
    margin-top: 120px;
  }
}
