@import 'styles/theme';

.article-title {
  margin-bottom: 1.5rem !important;
  & > a {
    color: $primary-main-color !important;
  }
}

.article-author {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.article-author-avatar {
  border-radius: 55px;
  margin-right: 10px;
}

.article-author-info {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: $font-medium-family;

  &-date {
    color: $primary-light-color;
  }
}

.article-author-tags {
  display: flex;
}

.article-author-summary {
  font-family: $font-medium-family !important;
}
