@import 'styles/theme';

.article-title {
  margin-bottom: 1.5rem !important;
  & > a {
    font-size: $font-heading-size;
    font-weight: 800;
    color: $secondary-text-color;
  }
}

.article-author {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.article-author-avatar {
  border-radius: 55px;
  margin-right: 10px;
}

.article-author-info {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: $font-medium-family;

  &-date {
    font-size: $font-caption-size;
    color: $primary-light-color;
  }

  & small > a {
    font-size: $font-text-medium-size;
    text-decoration: none;
    color: $secondary-text-color;

    &:hover {
      color: $primary-light-color;
    }
  }
}

.article-author-tags {
  display: flex;
  flex-wrap: wrap;

  & > a {
    font-weight: 800;
    text-decoration: underline;
    color: $secondary-text-color;

    &:hover {
      text-decoration: none;
    }

    & > small {
      font-size: $font-caption-size;
    }
  }
}

.article-author-summary {
  font-family: $font-medium-family !important;
}
