@import 'static/styles/theme';

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7 !important;
}

a {
  text-decoration: none;
  color: $color-link;

  &:hover {
    text-decoration: underline;
  }
}

p {
  color: $primary-main-color;
  font-family: $font-light-family;
  font-size: $font-caption-size;
  line-height: 1.58;
  letter-spacing: -0.003em;

  @include breakpoint-sm-down() {
    font-size: $font-text-medium-size;
  }
}

ol {
  line-height: 1.5;
  font-family: $font-medium-family;
  color: $primary-main-color;
  font-weight: 500;
}

ul {
  line-height: 1.5;
  font-family: $font-medium-family;
  color: $primary-main-color;
  font-weight: 500;
}

img {
  width: 100%;
}

h2 {
  color: $primary-main-color;
  font-size: $font-subheading-size;
  font-family: $font-bold-family;
}

h3,
h4,
h5 {
  color: $primary-main-color;
  font-size: $font-text-medium-size;
  font-family: $font-bold-family;
}

blockquote {
  border-left: 4px solid $secondary-main-color;
  padding: 0 15px;
  margin: 0;

  & > p {
    color: $primary-dark-color !important;
    font-family: $font-medium-family !important;
  }
}

// styles table global

table {
  width: 100%;
  max-width: 100%;

  & thead {
    text-align: left;
    font-family: $font-bold-family;
    font-size: $font-caption-size;
  }

  & th {
    color: $primary-dark-color;
    padding: 10px 10px;
    border-bottom: 2px solid $primary-dark-color;
  }

  & td {
    color: $primary-main-color;
    padding: 10px 10px;
    font-family: $font-light-family;
    font-size: $font-text-small-size;
  }
}

// styles of tags
.tag {
  &-ReactJS {
    background-color: #d3e3ff !important;
  }

  &-Angular {
    background-color: #ef9a9a !important;
  }

  &-Python {
    background-color: #fff59d !important;
  }

  &-VueJS {
    background-color: #b6ecd7 !important;
  }
}
