.tag {
  &-react-js {
    background-color: #d3e3ff !important;
  }

  &-angular {
    background-color: #ef9a9a !important;
  }

  &-python {
    background-color: #fff59d !important;
  }

  &-vue-js {
    background-color: #b6ecd7 !important;
  }
}
