@import 'static/styles/theme';

.root {
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 25px;
  margin-top: 0;
}

.tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.tags-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include breakpoint-sm-down() {
    display: none;
  }
}
