@import 'static/styles/theme';

.container-tag {
  padding: 24px 24px 48px 24px;
  margin-bottom: 50px;
}

.tag-header {
  margin-bottom: 24px;
}

.tag-header-title-container {
  display: flex;
  justify-content: space-between;
}

.tag-header-title {
  color: $primary-main-color;
  font-family: $font-bold-family;
  font-size: $font-text-medium-size;
  font-weight: 600;
  margin: 0 0 12px 0;
}

.tag-header-link {
  color: $secondary-main-color;
}

.tag-header-summary {
  font-family: $font-light-family;
  font-size: $font-text-small-size;
  margin: 0;
  color: $heather-color;
}

.tag-sub-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include breakpoint-sm-down() {
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.tag-sub-heading-title {
  color: $primary-main-color;
  font-family: $font-bold-family;
  font-size: $font-caption-size;
}

.tag-count {
  font-family: $font-light-family;
  font-size: $font-text-small-size;
}

.tags-list {
  list-style: none;
  margin: 0;
  padding-left: 16px;

  @include breakpoint-sm-down() {
    padding: 0;
  }
}

.tags-list-item {
  display: flex;
  justify-content: space-between;

  @include breakpoint-sm-down() {
    flex-direction: column-reverse;
    margin-bottom: 12px;
  }
}

.tags-list-time {
  color: $heather-color;
}
