@import 'static/styles/theme';

.tags {
  margin-bottom: 100px;

  @include breakpoint-sm-down() {
    padding: 24px;
  }
}

.tag-container {
  @include breakpoint-sm-down() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-family: $font-light-family;
  color: $primary-main-color;
  font-size: 42px;
  font-weight: 300;
}

.sub-title {
  margin-left: 119px;

  @include breakpoint-sm-down() {
    margin: 0;
  }
}

.tags-articles {
  display: flex;
  flex-direction: column;

  @include breakpoint-sm-down() {
    align-items: center;
  }
}

.tag-listPost {
  list-style: none;

  & > li {
    @include breakpoint-sm-down() {
      margin-top: 8px;
    }
  }

  & > li > time {
    display: inline-block;
    margin-right: 20px;
    width: 150px;
    text-align: right;

    @include breakpoint-sm-down() {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      width: auto;
      text-align: left;
    }
  }

  @include breakpoint-sm-down() {
    display: flex;
    flex-direction: column;
  }
}
