.tag {
  &-ReactJS {
    background-color: #d3e3ff;
  }

  &-Angular {
    background-color: #ef9a9a;
  }

  &-Python {
    background-color: #fff59d;
  }

  &-VueJS {
    background-color: #b6ecd7;
  }
}
