@import 'static/styles/theme';

.root {
  padding: 8px 33px;
  border-radius: 2px;
  background-color: #d3e3ff;
  margin: 0 15px 15px 0;
  color: $primary-main-color;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
