@import 'static/styles/theme';

.root {
  padding: 8px 33px;
  border-radius: 5px;
  background-color: $color-white;
  margin: 0 15px 15px 0;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 1px 4px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 0.8s ease-out;
  color: $primary-main-color;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    background: #dadada;
  }
}
