@import 'styles/theme';

.root {
  max-width: 80rem;
  position: relative;
  margin: 0px auto;
  padding: 2.5rem 0.2rem 5rem;

  @include breakpoint-sm-down() {
    @include padding-main(sm);
  }
}

.header {
  margin-bottom: 10rem;

  @include breakpoint-sm-down() {
    margin-bottom: 7rem;
  }

  &-title {
    font-family: $font-bold-family !important;
    font-weight: 800 !important;

    @include breakpoint-sm-down() {
      text-align: center;
    }
  }
}

.space {
  margin: 0 0.8rem;
  font-size: 1rem !important;
}

.author {
  display: flex;
  align-items: center;

  @include breakpoint-sm-down() {
    flex-direction: column;
  }

  &-details {
    margin-left: 1rem;

    display: flex;
    flex-direction: column;

    @include breakpoint-sm-down() {
      align-items: center;
    }
  }

  &-bio {
    display: flex;
    align-items: center;

    @include breakpoint-sm-down() {
      flex-direction: column;
    }
  }

  &-date {
    &-container {
      display: flex;
      align-items: center;
    }
  }

  &-avatar {
    border-radius: 5rem;
  }

  &-mobile {
    @include breakpoint-sm-down() {
      display: none !important;
    }
  }
}
