@import 'styles/theme';

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 8rem 0;

  @include breakpoint-sm-down() {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  @include breakpoint-xs-down() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--item-user {
    grid-column: 2 / span 7;

    @include breakpoint-sm-down() {
      grid-column: 1 / 2;
    }
  }

  &--item-information {
    grid-column: 10 / span 2;
    padding: 0 2rem;

    @include breakpoint-sm-down() {
      grid-column: 2 / 3;
    }

    @include breakpoint-xs-down() {
      margin-top: 2rem;
      border-top: 0.3rem solid $heather-color;
      border-left: none;
    }
  }
}

.contributor {
  display: flex;
  justify-content: space-between;

  @include breakpoint-sm-down() {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &--image {
    border-radius: 50%;
  }

  .contributorHeader {
    max-width: 430px;
  }
}

.social {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;

  @include breakpoint-sm-down() {
    justify-content: center;
  }

  &--icon {
    margin-right: 2rem;
    width: 2rem;
  }
}
