@import 'styles/theme';

.contributors {
  max-width: 80rem;
  position: relative;
  margin: 0px auto;
  padding: 2.5rem 0.2rem 5rem;

  &--tabs {
    margin-top: 3.6rem;
  }
}

.tab {
  &--container {
    margin-top: 2rem;
    padding: 2rem;
  }

  &--article {
    &-linkContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
