@import 'styles/theme';

.root {
  max-width: 80rem;
  position: relative;
  margin: 0px auto;
  padding: 2.5rem 0.2rem 0;

  @include breakpoint-sm-down() {
    @include padding-main(sm);
  }
}

.header {
  margin-bottom: 10rem;

  @include breakpoint-sm-down() {
    margin-bottom: 7rem;
  }

  &-title {
    font-family: $font-bold-family !important;
    font-weight: 800 !important;

    @include breakpoint-sm-down() {
      text-align: center;
    }
  }

  &-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;

    @include breakpoint-sm-down() {
      flex-direction: column;
      margin-top: 2rem;
    }
  }

  &-author {
    color: $primary-light-color !important;
    margin-left: 1.6rem !important;
    margin-right: 1.6rem !important;

    @include breakpoint-sm-down() {
      margin: 0 !important;
      text-align: center;
    }
  }
}

.avatar {
  border-radius: 5rem;
}
