@import 'styles/theme';

html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: $default-background !important;
}

a {
  text-decoration: none;
  color: $secondary-dark-color;

  &:hover {
    text-decoration: underline;
  }
}

small {
  font-size: $font-text-small-size;
}

// styles for render of markdown
.codea-article-details-markdown {
  h2 {
    font-size: $font-heading-size;
  }

  h3 {
    font-size: $font-subheading-size;
    line-height: 1.3;
  }

  h4 {
    font-size: $font-text-medium-size;
  }

  h5,
  h6 {
    font-size: $font-caption-size;
  }

  p {
    color: $primary-main-color;
    margin-top: 30px;
    font-size: $font-caption-size;
    line-height: 1.7;
    max-width: 80em;
  }

  blockquote {
    border-left: 4px solid $secondary-main-color;
    padding: 0 1.5rem;
    margin: 0;

    & > p {
      color: $primary-dark-color !important;
      font-family: $font-medium-family !important;
    }
  }

  table {
    width: 100%;
    max-width: 100%;

    & thead {
      text-align: left;
      font-family: $font-bold-family;
      font-size: $font-caption-size;
    }

    & th {
      color: $primary-dark-color;
      padding: 1rem 1rem;
      border-bottom: 2px solid $primary-dark-color;
    }

    & td {
      color: $primary-main-color;
      padding: 1rem 1rem;
      font-family: $font-light-family;
      font-size: $font-text-small-size;
    }
  }
}
