@import 'styles/theme';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Source+Code+Pro|Karla|Lato');

html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: $default-background !important;
}

a {
  text-decoration: none;
  color: $secondary-dark-color;

  &:hover {
    text-decoration: underline;
  }
}

small {
  font-size: $font-text-small-size;
}

.tag-styles {
  &-codea {
    background-color: #80e27e !important;
    color: #000000 !important;
  }

  &-reactjs {
    background-color: #272c34 !important;
    color: #5bcceb !important;
  }

  &-python {
    background-color: #ffd343 !important;
    color: #000000 !important;
  }

  &-git {
    background-color: #f14e32 !important;
    color: #000000 !important;
  }
}

// styles for render of markdown
.codea-article-details-markdown {
  a {
    font-weight: 800;
    text-decoration: underline;
    color: $secondary-text-color;

    &:hover {
      text-decoration: none;
    }
  }

  ol {
    line-height: 1.5;
    font-family: $font-medium-family;
    color: $primary-main-color;
    font-weight: 500;
  }

  ul {
    line-height: 1.5;
    font-family: $font-medium-family;
    color: $primary-main-color;
    font-weight: 500;
    margin-left: 1.4rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.05rem;
    list-style-position: outside;
    list-style-image: none;
  }

  img {
    width: 100%;
  }

  h2 {
    color: $primary-dark-color;
    font-size: 2.6rem;
    font-family: $font-light-family;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.00833em;
  }

  h3 {
    color: $primary-dark-color;
    font-size: 2.4rem;
    font-family: $font-light-family;
    font-weight: 400;
    line-height: 1.04;
    letter-spacing: 0em;
  }

  h4 {
    color: $primary-dark-color;
    font-size: 2.2rem;
    font-family: $font-light-family;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.00735em;
  }

  h5 {
    color: $primary-dark-color;
    font-size: 2rem;
    font-family: $font-light-family;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
  }

  h6 {
    color: $primary-dark-color;
    font-size: 1.8rem;
    font-family: $font-light-family;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
  }

  p {
    color: $primary-main-color;
    font-family: $font-light-family;
    font-size: $font-text-medium-size;
    line-height: 1.58;
    letter-spacing: -0.003em;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.05rem;
  }

  li *:last-child {
    margin-bottom: 0;
  }

  blockquote {
    border-left: 4px solid $secondary-main-color;
    padding: 0 1.5rem;
    margin: 0;

    & > p {
      color: $primary-dark-color !important;
      font-family: $font-medium-family !important;
    }
  }

  table {
    width: 100%;
    max-width: 100%;

    & thead {
      text-align: left;
      font-family: $font-bold-family;
      font-size: $font-caption-size;
    }

    & th {
      color: $primary-dark-color;
      padding: 1rem 1rem;
      border-bottom: 2px solid $primary-dark-color;
    }

    & td {
      color: $primary-main-color;
      padding: 1rem 1rem;
      font-family: $font-light-family;
      font-size: $font-text-small-size;
    }
  }
}
