@import 'styles/theme';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $azure-color !important;
}

a {
  text-decoration: none;
  color: $color-link;

  &:hover {
    text-decoration: underline;
  }
}

ol {
  line-height: 1.5;
  font-family: $font-medium-family;
  color: $primary-main-color;
  font-weight: 500;
}

ul {
  line-height: 1.5;
  font-family: $font-medium-family;
  color: $primary-main-color;
  font-weight: 500;
}

img {
  width: 100%;
}

h2 {
  color: $primary-dark-color;
  font-size: 37px;
  font-family: $font-light-family;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.00833em;
}

h3 {
  color: $primary-dark-color;
  font-size: 30px;
  font-family: $font-light-family;
  font-weight: 400;
  line-height: 1.04;
  letter-spacing: 0em;
}

h4 {
  color: $primary-dark-color;
  font-size: 24px;
  font-family: $font-light-family;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.00735em;
}

h5 {
  color: $primary-dark-color;
  font-size: 20px;
  font-family: $font-light-family;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
}

h6 {
  color: $primary-dark-color;
  font-size: 18px;
  font-family: $font-light-family;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

p {
  color: $primary-main-color;
  font-family: $font-light-family;
  font-size: $font-caption-size;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

blockquote {
  border-left: 4px solid $secondary-main-color;
  padding: 0 15px;
  margin: 0;

  & > p {
    color: $primary-dark-color !important;
    font-family: $font-medium-family !important;
  }
}

// styles table global

table {
  width: 100%;
  max-width: 100%;

  & thead {
    text-align: left;
    font-family: $font-bold-family;
    font-size: $font-caption-size;
  }

  & th {
    color: $primary-dark-color;
    padding: 10px 10px;
    border-bottom: 2px solid $primary-dark-color;
  }

  & td {
    color: $primary-main-color;
    padding: 10px 10px;
    font-family: $font-light-family;
    font-size: $font-text-small-size;
  }
}

small {
  font-size: $font-text-small-size;
}

a.auto-link-headers:hover {
  background: none;
}

a.auto-link-headers {
  color: inherit;
  fill: $secondary-main-color;
  text-decoration: none;
  border-bottom: none;
  box-shadow: none;
}
