@import 'styles/theme';

.developers-section {
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(226, 235, 228) 100%
  );
  padding: 80px 0;
}

.developers-list {
  padding: 0 48px;
}

.developers-list-title {
  font-family: $font-bold-family;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0 0 15px 0;
}

.developers-list-resume {
  font-family: $font-bold-family;
  font-size: $font-subheading-size;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 80px 0;
}
