@import 'styles/theme';

.developers-section {
  background-color: $color-white;
  padding: 80px 0;

  @include breakpoint-sm-down() {
    padding: 80px 0 0 0;
  }
}

.developers-list {
  padding: 0 48px;
}

.developers-list-resume {
  font-size: $font-text-medium-size !important;
  margin: 0 0 20px 0 !important;
}

.developer-grid-item {
  @include breakpoint-sm-down() {
    margin-bottom: 36px !important;
  }
}

.team-btn {
  min-width: 350px !important;
  min-height: 60px !important;
  margin: 0 0 80px 0 !important;
}
