@import 'styles/theme';

.developers-section {
  padding: 80px 0;

  @include breakpoint-sm-down() {
    padding: 80px 0 0 0;
  }
}

.developers-list {
  padding: 0 48px;
}

.developers-list-resume {
  margin: 0 0 20px 0 !important;
}

.developer-grid-item {
  @include breakpoint-sm-down() {
    margin-bottom: 36px !important;
  }

  &-xs {
    width: 100%;
  }
}

.team-btn {
  background-color: rgba(37, 194, 157, 0.08) !important;
  min-width: 350px !important;
  min-height: 60px !important;
  margin: 0 0 80px 0 !important;

  &:hover {
    background-color: rgba(21, 194, 154, 0.219) !important;
  }
}
