@import 'styles/theme';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  padding: 24px;
  width: 300px;
  height: 410px;
  max-height: 410px;
  border-bottom: solid 2px $secondary-main-color;

  @include breakpoint-sm-down() {
    margin: 8px 0;
    height: 360px;
    width: 100%;
  }
}

.title {
  font-family: $font-bold-family;
  font-size: $font-subheading-size;

  @include breakpoint-sm-down() {
    font-size: $font-text-medium-size;
  }

  > a {
    transition: color 0.5s linear;
    color: $primary-main-color;
  }

  & :hover {
    transition: 0.5s ease;
    text-decoration: underline;
  }
}

.summary {
  font-family: $font-light-family;
  color: $primary-light-color;
  font-size: $font-caption-size;
  font-weight: normal;
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50px;
  width: 40px !important;
  height: 40px !important;
}

.information {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-family: $font-light-family;
}

.user {
  font-family: $font-medium-family;
  color: $primary-dark-color;
  font-size: $font-caption-size;
  font-weight: bold;
  transition: color 0.5s linear;
  line-height: 1.4;

  @include breakpoint-sm-down() {
    font-size: $font-text-small-size;
  }

  &:hover {
    transition: 0.5s ease;
    text-decoration: underline;
  }
}

.date {
  color: $primary-light-color;
  font-size: $font-caption-size;

  @include breakpoint-sm-down() {
    font-size: $font-text-small-size;
  }
}
