@import 'static/styles/theme';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background-default-color !important;
}

a {
  text-decoration: none;
}

p {
  font-family: $font-text-lg;
  font-size: $font-size-regular;
  line-height: 1.58;
  letter-spacing: -0.003em;

  @include breakpoint-sm-down() {
    font-size: $font-size-lg;
  }
}
