@import 'static/styles/theme';

.root {
  display: flex;
  background-color: #fff;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 315px;

  @include breakpoint-sm-down() {
    width: 100%;
  }
}

.pagination-pages {
  font-family: $font-light-family;

  @include breakpoint-sm-down() {
    display: none;
  }
}

.pagination-select {
  margin: 0 8px;
  font-weight: bold;
}
