@import 'styles/theme';

.section-home {
  background-size: cover;
  background-position: center center;
  padding: 130px 48px 0 48px;
  margin-top: -56px;
  height: 414px;
  display: flex;

  @include breakpoint-sm-down() {
    padding: 24px;
    height: auto;
    flex-direction: column;
  }
}

.section-home-text {
  width: 55%;
  text-align: center;

  @include breakpoint-sm-down() {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 64px;
  }
}

.section-home-text-title {
  color: $color-white !important;
  font-weight: 500 !important;
  @include breakpoint-sm-down() {
    text-align: center;
    margin-bottom: 24px !important;
  }
}

.section-home-text-message {
  font-size: $font-text-medium-size !important;
  color: $heather-color !important;

  @include breakpoint-sm-down() {
    text-align: center;
  }
}

.section-home-code {
  width: 32%;
  display: flex;
  justify-content: flex-end;

  @include breakpoint-sm-down() {
    width: 100%;
    padding: 0 12px;
    justify-content: center;
  }
}

.term-container {
  width: 75%;

  @include breakpoint-sm-down() {
    width: 100%;
  }
}

.section-coding {
  padding: 90px 0;
}

.section-coding-text {
  @include breakpoint-sm-down() {
    text-align: center;
    margin-top: 40px !important;
  }
}

.section-coding-right-title {
  font-family: $font-bold-family;
  font-size: $font-subheading-size;
  text-align: center;
  line-height: 1.58;
}

.section-coding-right-message {
  font-family: $font-light-family;
  font-size: $font-caption-size;
  text-align: center;
  line-height: 1.39;
}

/* styles to Page 404 */
.page-404 {
  margin-top: 50px;
}

.page-404-content {
  text-align: center;
  line-height: 2;
  margin-top: 50px !important;
}

.page-404-content-title {
  color: #5d6e85 !important;
  font-size: $font-heading-size !important;
}

.page-404-content-message {
  color: #5d6e85 !important;
}

.page404-content-hello {
  color: #5d6e85 !important;
  margin-top: 50px !important;
  bottom: 0;
}

.page-404-content-button-back {
  margin-top: 36px !important;
  padding: 18px 30px !important;
  border: 1px solid #5d6e85 !important;
  border-radius: 50px !important;
  color: #5d6e85 !important;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08) !important;
  }
}
/* end styles to Page 404 */
