@import 'styles/theme';

.section-home {
  background-size: cover;
  background-position: center center;
  padding: 13rem 4.8rem 0 4.8rem;
  margin-top: -5.6rem;
  height: 41.4rem;
  display: flex;

  @include breakpoint-sm-down() {
    padding: 2.4rem;
    height: auto;
    flex-direction: column;
  }
}

.section-home-text {
  width: 55%;
  text-align: center;

  @include breakpoint-sm-down() {
    width: 100%;
    padding: 0 1.2rem;
    margin-bottom: 6.4rem;
  }
}

.section-home-text-title {
  color: $color-white !important;
  font-weight: 500 !important;
  @include breakpoint-sm-down() {
    text-align: center;
    margin-bottom: 2.4rem !important;
  }
}

.section-home-text-message {
  font-size: $font-text-medium-size !important;
  color: $heather-color !important;

  @include breakpoint-sm-down() {
    text-align: center;
  }
}

.section-home-code {
  width: 32%;
  display: flex;
  justify-content: flex-end;

  @include breakpoint-sm-down() {
    width: 100%;
    padding: 0 1.2rem;
    justify-content: center;
  }
}

.term-container {
  width: 75%;

  @include breakpoint-sm-down() {
    width: 100%;
  }
}

.section-coding {
  padding: 9rem 0;
}

.section-coding-text {
  @include breakpoint-sm-down() {
    text-align: center;
    margin-top: 4rem !important;
  }
}

.section-coding-right-title {
  font-family: $font-bold-family;
  font-size: $font-subheading-size;
  text-align: center;
  line-height: 1.58;
}

.section-coding-right-message {
  font-family: $font-light-family;
  font-size: $font-caption-size;
  text-align: center;
  line-height: 1.39;
}

/* styles to Page 404 */
.page-404 {
  margin-top: 5rem;
}

.page-404-content {
  text-align: center;
  line-height: 2;
  margin-top: 5rem !important;
}

.page-404-content-title {
  color: #5d6e85 !important;
  font-size: $font-heading-size !important;
}

.page-404-content-message {
  color: #5d6e85 !important;
}

.page404-content-hello {
  color: #5d6e85 !important;
  margin-top: 5rem !important;
  bottom: 0;
}

.page-404-content-button-back {
  margin-top: 3.6rem !important;
  padding: 1.8rem 3rem !important;
  border: 0.1rem solid #5d6e85 !important;
  border-radius: 5rem !important;
  color: #5d6e85 !important;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08) !important;
  }
}
/* end styles to Page 404 */
