@import 'styles/theme';

.list-articles {
  padding: 0 7.8rem;

  @include breakpoint-sm-down() {
    padding: 0 1.6rem;
  }
}

.container-tags-list {
  padding-left: 4.8rem;
}

.posts-list {
  margin-bottom: 4rem;

  @include breakpoint-sm-down() {
    padding: 0;
    margin-bottom: 2rem;
  }
}

.posts-list-item {
  margin: 0 0 3.6rem !important;

  @include breakpoint-sm-down() {
    margin-bottom: 3.5rem !important;
  }
}

.tags-list {
  @include breakpoint-sm-down() {
    margin-bottom: 5rem !important;
  }
}
