@import 'styles/theme';

.list-articles {
  padding: 0 48px;
}

.container-tags-list {
  padding-left: 48px;
}

.posts-list {
  margin-bottom: 40px;

  @include breakpoint-sm-down() {
    padding: 0;
    margin-bottom: 20px;
  }
}

.posts-list-item {
  margin: 0 8px 36px !important;

  @include breakpoint-sm-down() {
    margin: 0 !important;
  }
}

.tags-list {
}
