@import 'static/styles/theme';

.root {
  @include breakpoint-sm-down() {
    @include padding-main(sm);
  }
}

.header {
  margin-bottom: 50px;

  &-title {
    font-family: $font-title;
    font-size: $font-size-title;
    margin: 0;
  }

  &-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;

    @include breakpoint-sm-down() {
      flex-direction: column;
      margin-top: 20px;
    }
  }

  &-extract {
    color: $secondary-dark-color;
    margin-left: 30px;
    margin-right: 15px;

    @include breakpoint-sm-down() {
      margin: 0;
    }
  }

  &-date {
    font-family: $font-text-md;
    font-size: $font-size-md;
    color: $primary-dark-color;
  }
}

.summary {
  font-family: $font-text-lg;
  color: $primary-dark-color;
  font-size: $font-size-md;
  margin: 0;
  line-height: 1.3;
  letter-spacing: 0;

  @include breakpoint-sm-down() {
    font-size: $font-size-md;
  }
}

.date {
  font-family: $font-text-xs;
  font-size: $font-size-md;
  color: $primary-dark-color;
  line-height: 1.5;
}
