@import 'static/styles/theme';

$transition: 0.2s ease;

.nav-item-container {
  display: flex;
  align-items: center;

  @include breakpoint-sm-down() {
    display: none;
  }
}

.item {
  display: flex;
  align-items: center;
  list-style: none;

  &:hover {
    cursor: pointer;

    > .item-link {
      transition: $transition;
      border-bottom: 2.5px solid $primary-main-color;
      font-weight: 700 !important;
      text-decoration: none;
    }
  }

  &-active {
    border-bottom: 2.5px solid $primary-main-color;
    color: $primary-main-color !important;
    font-weight: 700 !important;
    padding: 10px 0;
  }
}

.item-link {
  height: 64px;
  text-decoration: none;
  color: $primary-main-color;
  font-size: $font-text-small-size;
  font-family: $font-light-family;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 24px 24px;
}

// styles avatar
.avatar {
  width: 35px !important;
  height: 35px !important;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 50px;
  margin-right: 4px;
  width: auto;

  @include breakpoint-sm-down() {
    height: 45px;
  }
}

.logo-text {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: $font-text-medium-size;
  font-weight: 800;
  color: $secondary-text-color;
  letter-spacing: 0.5px;

  &:hover {
    text-decoration: none;
  }
}
