@import 'styles/theme';

$transition: 0.2s ease;

.nav-item-container {
  display: flex;
  align-items: center;

  @include breakpoint-sm-down() {
    display: none;
  }
}

.item {
  display: flex;
  align-items: center;
  list-style: none;

  &:hover {
    cursor: pointer;

    > .item-link {
      transition: $transition;
      text-decoration: none;
      color: $primary-light-color !important;
    }
  }

  &-disable {
    pointer-events: none;
  }
}

.item-link {
  height: 64px;
  text-decoration: none;
  color: $secondary-text-color;
  font-size: $font-caption-size;
  font-family: $font-light-family;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.01562rem;
  padding: 2.4rem 2.4rem;

  &-disable {
    pointer-events: none;
    color: $color-disable;
  }
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 6rem;
  margin-right: 0.8rem;
  width: auto;
}

.logo-text {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: $font-text-medium-size;
  font-weight: 800;
  color: $color-white;
  letter-spacing: 0.5px;

  &:hover {
    text-decoration: none;
  }
}

.space {
  flex-grow: 1;

  @include breakpoint-sm-down() {
    display: none;
  }
}
