// principals
$heather-color: #bac0c3;
$default-background: #f9fafb;

// Primaries
$primary-light-color: #484848;
$primary-main-color: #212121;
$primary-dark-color: #000000;

// Secondaries
$secondary-light-color: #74ffb8;
$secondary-main-color: #34da88;
$secondary-dark-color: #2aaba2;

// colors text
$primary-text-color: #ffffff;
$secondary-text-color: #000000;

$background-default-color: #f5f5f6;

// Extends color
$color-white: #ffffff;
$color-link: $secondary-dark-color;
$color-disable: $heather-color;
$background-secondary: #efeae1;
$color-main-blue: #1a73e8;
