// new valors
$font-bold-family: 'Lato', sans-serif;
$font-light-family: 'Roboto', sans-serif;
$font-medium-family: 'Karla', sans-serif;
$font-code-family: 'Source Code Pro', monospace;

$font-base-size: 1rem;
$font-text-small-size: 1.4rem;
$font-caption-size: 1.6rem;
$font-text-medium-size: 2rem;
$font-subheading-size: 2.4rem;
$font-heading-size: 3.2rem;
