@import 'static/styles/theme';

.root {
  display: none;
  position: fixed;
  z-index: 10;
  border: 0;
  bottom: 0;
  width: 100%;

  @include breakpoint-sm-down() {
    display: block;
  }
}

.nav-item-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;

  &:hover {
    > .item-link {
      transition: 0.5s ease;
      color: #333;
    }
  }

  &-active {
    color: #333 !important;
    font-weight: 600 !important;
  }
}

.item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 60px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 10px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 0 24px;
}

.icon-component {
  margin-bottom: 2px;
}
