@import 'styles/theme';

.root {
  display: none;
  position: fixed;
  z-index: 10;
  border: 0;
  bottom: 0;
  width: 100%;

  @include breakpoint-sm-down() {
    display: block;
  }
}

.nav-item-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: $color-white;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;

  &:hover {
    > .item-link {
      transition: 0.5s ease;
      color: $secondary-dark-color;
      text-decoration: none;
    }
  }

  &-disable {
    pointer-events: none;
  }
}

.item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 60px;
  text-decoration: none;
  color: $primary-light-color;
  font-size: 10px;
  font-family: $font-bold-family;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 0 24px;

  &-disable {
    pointer-events: none;
    color: $color-disable;
  }
}

.icon-component {
  margin-bottom: 2px;
}
