@import 'styles/theme';

.root {
  padding: 0 4.8rem;
  bottom: 0;

  @include breakpoint-sm-down() {
    padding: 0 2.4rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.4rem 0;
  font-family: $font-code-family;
  border-top: solid 0.3rem #000;

  @include breakpoint-sm-down() {
    flex-direction: column;
    margin-bottom: 6rem;
    padding: 2.4rem 0;
  }
}

.codea {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.codea-social {
  display: flex;
  align-items: center;

  @include breakpoint-sm-down() {
    flex-direction: column;
  }
}

.social {
  display: flex;
  align-items: center;

  @include breakpoint-sm-down() {
    margin: 2rem 0;
  }
}

.code {
  width: 2rem;
  margin-right: 1rem;
}

.heart {
  width: 2rem;
  margin: 0 1rem;
}

.red-social {
  width: 2rem;
  display: flex;
  align-items: center;
  margin: 0 1rem;

  & > img {
    height: 2rem;
  }
}

.logo {
  width: 3rem;
  margin: 0 0.3rem;
}

.rights {
  font-size: 2rem;
}
