@import 'static/styles/theme';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  margin: 8px;
  height: 460px;
  max-height: 460px;

  @include breakpoint-sm-down() {
    margin: 8px 0;
    height: 360px;
  }
}

.title {
  font-family: $font-title;
  font-size: $primary-main-color;

  @include breakpoint-sm-down() {
    font-size: $font-size-xlg;
  }

  > a {
    transition: color 0.5s linear;
    color: $primary-main-color;
  }

  & :hover {
    transition: 0.5s ease;
    text-decoration: underline;
  }
}

.summary {
  font-family: $font-text-lg;
  color: $primary-light-color;
  font-size: 18px;
  font-weight: normal;
  margin: 0;

  @include breakpoint-sm-down() {
    font-size: $font-size-regular;
  }
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.avatar {
  border-radius: 50px;
  width: 40px !important;
  height: 40px !important;
}

.information {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-family: $font-text-md;
}

.user {
  font-family: $font-text-xs;
  color: $primary-dark-color;
  font-size: $font-size-regular;
  font-weight: bold;
  transition: color 0.5s linear;
  line-height: 1.4;

  @include breakpoint-sm-down() {
    font-size: $font-size-md;
  }

  &:hover {
    transition: 0.5s ease;
    text-decoration: underline;
  }
}

.date {
  color: $primary-light-color;
  font-size: $font-size-regular;

  @include breakpoint-sm-down() {
    font-size: $font-size-md;
  }
}
