@import './_grid';

@mixin breakpoint-375-up {
  @media (min-width: 376px) {
    @content;
  }
}

@mixin breakpoint-375-down {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin breakpoint-xs-down {
  $break-point: map-get($break-points, xs);
  @media (max-width: map-get($break-point, max-width)) {
    @content;
  }
}

@mixin breakpoint-xs-up {
  $break-point: map-get($break-points, xs);
  @media (min-width: map-get($break-point, min-width)) {
    @content;
  }
}

@mixin breakpoint-sm-down {
  $break-point: map-get($break-points, sm);
  @media (max-width: map-get($break-point, max-width)) {
    @content;
  }
}

@mixin breakpoint-sm-up {
  $break-point: map-get($break-points, sm);
  @media (min-width: map-get($break-point, min-width)) {
    @content;
  }
}

@mixin breakpoint-md-up {
  $break-point: map-get($break-points, md);
  @media (min-width: map-get($break-point, min-width)) {
    @content;
  }
}

@mixin breakpoint-lg-up {
  $break-point: map-get($break-points, lg);
  @media (min-width: map-get($break-point, min-width)) {
    @content;
  }
}

@mixin padding-main($size) {
  $break-point: map-get($break-points, $size);
  padding: map-get($break-point, padding-main);
}

@mixin merging-bottom($size) {
  $break-point: map-get($break-points, $size);
  margin-bottom: map-get($break-point, margin-bottom-main);
}
