// Primaries
$primary-light-color: #ffffff;
$primary-main-color: #e0e0e0;
$primary-dark-color: #aeaeae;

// Secondaries
$secondary-light-color: #ffff56;
$secondary-main-color: #ffea00;
$secondary-dark-color: #c7b800;

$primary-text-color: #000000;

$background-default-color: #f5f5f6;
