// principals
$tarawera-color: #243e48;
$azure-color: #fafcfc;
$shamrock-color: #39d996;
$humming-bird-color: #d1ebe1;
$heather-color: #bac0c3;

// Primaries
$primary-light-color: #4e6973;
$primary-main-color: #243e48;
$primary-dark-color: #001821;

// Secondaries
$secondary-light-color: #77ffc7;
$secondary-main-color: #39d996;
$secondary-dark-color: #00a668;

$primary-text-color: #ffffff;
$secondary-text-color: #000000;

$background-default-color: #f5f5f6;

// other color
$color-white: #ffffff;
$color-link: $secondary-main-color;
$color-disable: $heather-color;
$background-secondary: #efeae1;

$color-yellow-1: #ffee58;
