// Primaries
$primary-light-color: #343233;
$primary-main-color: #584b4f;
$primary-dark-color: #2c2a2b;

// Secondaries
$secondary-light-color: #fad367;
$secondary-main-color: #ffd152;
$secondary-dark-color: #ffc31f;

$primary-text-color: #ffffff;

$background-default-color: #f5f5f6;
$background-pre-color: #343233;

// other color
$color-white: #ffffff;
$color-green-1: #3b9b6d;
$color-coffee-1: #efdab9;
$color-link: $color-green-1;
$color-disable: #fbfbfb;
$background-secondary: #efeae1;
