// new valors
$font-bold-family: 'Lato', sans-serif;
$font-light-family: 'Roboto', sans-serif;
$font-medium-family: 'Karla', sans-serif;
$font-code-family: 'Source Code Pro', monospace;

$font-base-size: 10px;
$font-text-small-size: 14px;
$font-caption-size: 16px;
$font-text-medium-size: 20px;
$font-subheading-size: 24px;
$font-heading-size: 32px;
