$font-title: 'Lato', sans-serif;
$font-text-lg: 'Karla', sans-serif;
$font-text-md: 'Roboto', sans-serif;
$font-text-xs: $font-text-lg;

$font-size-title: 32px;
$font-size-sub-title: 24px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-regular: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;
