@import 'styles/theme';

.developer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 1.6rem;
  margin: 0 1rem;
  max-width: 24vw;

  @include breakpoint-sm-down() {
    max-width: 62vw;
  }

  &--details {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
  }

  &--cover {
    border-radius: 50%;
  }
}
