@import 'styles/theme';

.developer {
  display: flex;
  align-items: center;
  padding: 1.6rem;

  &--column {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &--details {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;

    &-not-margin {
      margin: 0;
    }
  }

  &--cover {
    border-radius: 50%;
  }
}
